.card {
    border: 1px solid rgb(19, 67, 121);
    border-radius: 10px;
    box-shadow: 10px 10px 10px;
    padding: 20px;
    margin: 20px;
    display: inline-block;
}

.card-image {
    width: 50%;
    height: 50%;
    object-fit: cover;
    border-radius: 50%;
}

.card .card-title {
    font-style: italic;
    font-size: 1.5rem;
    font-weight: bold;
    color: rgb(19, 67, 121);
}

.card .card-description {
    font-size: 1.2rem;
    color: rgb(19, 67, 121);
}